.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.wrapper {
  background-color: black;
  color: white;

  width: 240px;
  padding: 10px;
  border-radius: 12px;

  display: grid;
  grid-template-rows: 60px 1fr;
}

.screen {
  font-size: 24px;
  text-align: end;
  margin: 0;
  padding: 15px;
}

.buttons {
  display: grid;
  grid-template-areas:
    "clear clear clear ."
    ". . . ."
    ". . . ."
    ". . . ."
    "zero zero . .";
  gap: 7px;
}

.btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #2e2e2e;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.clear {
  background-color: #9a9a9a;
  color: black;
  grid-area: clear;
}

.wide {
  border-radius: 25px;
  width: auto;
}

.zero {
  padding-left: 20px;
  text-align: start;
  grid-area: zero;
}

.operator {
  background-color: #ff9429;
}
